*, html, body {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    overflow: auto;
    overflow-x: hidden;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(asset/Kenangan.com.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin-bottom: 3rem;
}

.hero .cover {
    left: 94%;
    top: 5%;
    position: absolute;
}

.hero .bi {
    font-size: 2.5rem;
    display: flex;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(245, 95, 245, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .bi:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.hero h1 {
    color: rgb(255, 255, 255);
    text-shadow: -4px 0px 9px rgba(255, 255, 255, 0.37);
    font-size: 7rem;
    font-family: "Playwrite NO", cursive;
    margin-bottom: 25px;
}

.hero h2 {
    height: 75px;
    font-size: 3.5rem;
    color: #5170FF;
    text-shadow: -4px 0px 9px rgba(255, 255, 255, 0.37);
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(245, 95, 245, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(146, 150, 150);
    text-shadow: -4px 0px 9px rgba(255, 255, 255, 0.37);
}

.hero .btn {
    margin-top: 1rem;
    width: 180px;
    color: black;
    font-size: 1.2rem;
    border-radius: 20px;
    border: #5170FF;
    background: #5170FF;
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(245, 95, 245, 1) 100%);
}

.hero .btn:hover {
    transform: scale(1.1);
    box-shadow: 1px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px 0px 14px 0px rgba(255, 255, 255, 0.75);
}

.content-1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(6, 6, 6);
    color: #ffffff;
}

.content-1 h4 {
    text-align: center;
    padding-top: 1rem;
    color: #ffffff;
}

.content-1 h1 {
    text-align: center;
    padding-top: 1rem;
    color: #ffffff;
}

.music-box {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100vw;
    gap: 50px;
    margin-top: 50px;
}

.music-card {
    height: auto;
    background-color: rgb(255, 255, 255);
    width: 280px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

.img-card {
    width: 260px;
    height: auto;
    margin-top: 15px;
    display: grid;
    justify-content: center;
}

.img-card img {
    border: 1px;
    border-radius: 10px;
    width: 260px;
}

.caption-1 {
    width: 100%;
    padding-left: 20px;
    gap: 0;
    padding-top: 0%;
}

.caption-1 h4 {
    text-align: left;
    color: black;
    margin: 0%;
}

.caption-1 p {
    color: black;
    padding: 0%;
    margin: 0;
}

.music-card:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 1px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 1px 0px 14px 0px rgba(255, 255, 255, 0.75);
}

.story {
    height: 100vh;
    width: 100%;
    background-image: url(asset/Kenangan.com.png);
    background-size: cover;
    color: #ffffff;
    overflow: hidden;
}

.story .cover {
    display: flex;
    margin-top: 40px;
    gap: 500px;
    justify-content: space-around;
    align-items: center;
}

.story a {
    color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-weight: 700;
    border-radius: 20px;
}

.story .bi {
    font-size: 2.5rem;
    display: inline-block;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(245, 95, 245, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.story .bi:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.main-story {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story h1 {
    font-family: "Gochi Hand", cursive;
    font-size: 60px;
    font-weight: 400;
    color: #5170FF;
    text-shadow: -4px 0px 9px rgba(255, 255, 255, 0.37);
    background: linear-gradient(80deg, rgba(81, 112, 255, 1) 0%, rgba(245, 95, 245, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.desk-story.one {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    padding-top: 40px;
    padding-left: 190px;
}

#memo {
    background: #5170FF;
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(245, 95, 245, 1) 100%);
}

.desk-story .btn {
    margin-top: 2rem;
    width: 250px;
    color: black;
    font-size: 1.2rem;
    border-radius: 20px;
    border: #5170FF;
    background: #5170FF;
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(245, 95, 245, 1) 100%);
}

.image-story {
    display: flex;
    width: 50%;
    height: 100vh;
    position: relative;
}

.photo-1 img {
    height: 340px;
    width: 250px;
    border-radius: 20px;
    margin-top: 190px;
    margin-left: 80px;
}

.cover-img {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 325px;
    width: 240px;
    justify-content: center;
    border-radius: 8px;
    position: absolute;
    transform: rotate(-25deg);
    right: 230px;
    top: 70px;
}

.cover-img img {
    height: 250px;
    width: 220px;
    margin-top: 15px;
    border-radius: 5px;
}

.desk-story.one a:hover {
    transform: scale(1.1);
}
.story-2 {
    height: 100vh;
    width: 100%;
    background-image: url(asset/Kenangan.com.png);
    background-size: cover;
    color: #ffffff;
    overflow: hidden;
}

.story-2 h1 {
    font-family: "Gochi Hand", cursive;
    font-size: 60px;
    font-weight: 400;
    color: #5170FF;
    text-shadow: -4px 0px 9px rgba(255, 255, 255, 0.37);
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 10%, rgba(245, 95, 245, 1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.image-story.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    border: 2px solid #5170ff;
    border-radius: 30px;
    box-shadow: 1px 0px 14px 0px rgba(255, 255, 255, 0.5);
}

.photo-2-1 img {
    height: 440px;
    width: 350px;
    border-radius: 20px;
    margin: 0%;
}

.image-story.two a {
    background: #5170FF;
    background: linear-gradient(90deg, rgba(81, 112, 255, 1) 0%, rgba(245, 95, 245, 1) 100%);
    color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}

.desk-story.two {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    padding-top: 150px;
}
.desk-story.two a:hover {
    color: black;
    transform: scale(1.1);
}